
</body>
</html>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron text-center">
        <h1>Danh Sách sản phẩm</h1>
        <form action="/" method="get">

            <input class="btn btn-info btn-lg" type="submit" value="Main Page">
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Quanlyti</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        {{#each data}}
            <tbody>
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.productname}}</td>
                <td>{{this.quanlyti}}</td>
                <td></td>
                <td>
                    <form action="/update" method="get">

                        <input class="btn btn-info btn-lg" type="submit" value="Edit">
                    </form>
                    <form action="/deleteProduct" method="get">

                        <input class="btn btn-info btn-lg" type="submit" value="Delete">
                    </form>

                </td>
            </tr>

            </tbody>

        {{/each}}

    </table>
</div>

</body>
</html>
